/* Fonts */
$primary-font: "Oswald-Regular", "Arial", sans-serif;
$secondary-font: "Oswald-Bold";
$third-font: "Ubuntu-Regular", "Arial", sans-serif;
$fourth-font: "Montserrat-Medium", "Arial", sans-serif;

// Viewports
$mobile-width: 375px;
$tablet-width: 834px;
$desktop-mini-width: 1024px;
$desktop-width: 1920px;

/* Colors */
$basic-text: #ffffff;
$accent-text: #ffdf8e;
$color-text: #d536ff;
$accent-background-button: #39dd00;
$background-button: #9a38b4;
$background-light: #b6b6b6;
$background-dark: #5c5c5c;
$burger-menu-stroke: #3c004c;
$black-color: #000000;

/* Gradients */
$gradient-reviews: linear-gradient(180deg, #9e9e9e 20% 0.5, #442a4c 100%);
$gradient-button-menu: linear-gradient(180deg, #B72D93 0%, #6D1185 100%);
