.about {
  &__title {
    margin: 0 0 15px;
  }

  &__description {
    margin: 0 0 30px;
  }

  &__video {
    max-width: 1200px;
    min-height: 195px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    border: 2px solid $black-color;
  }
}
