.about {
  &__title {
    margin: 0 0 15px;
  }

  &__description {
    margin: 0 0 30px;
  }

  &__video {
    width: 100%;
    max-width: 1200px;
    min-height: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    /* border: 2px solid $black-color; */

    @media (min-width: $tablet-width) {
      min-height: 400px;
    }
  
    @media (min-width: $desktop-width) {
      min-height: 800px;
    }
  }

  iframe {
    width: 100%;
    height: auto;
  }
}
