.header {
  margin-bottom: 43px;
  background: linear-gradient(90deg, #4d1e70 40%, #49368e 80%);
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 133px;
  }

  &__wrapper {
    width: 100%;
    min-height: 42px;
    /* padding: 10px 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $desktop-mini-width) {
      justify-content: start;
    }
  }

  &__nav {
    order: -1;
    height: 18px;
  }

  &__logo {
    @media (min-width: $desktop-mini-width) {
      order: -1;
    }
  }

  &__logo:hover {
    opacity: 0.5;
  }
}
