.navigation {
  position: relative;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: rgba($burger-menu-stroke, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    z-index: 15;

    @media (min-width: $desktop-mini-width) {
      display: flex;
      position: absolute;
    }
  }

  &__item {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: $gradient-button-menu;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-size: 25px 25px;
      background-position: center center;
    }

    &--home::before {
      background-image: url("../../icons/menu/home.svg");
    }

    &--todo::before {
      background-image: url("../../icons/menu/todo.svg");
    }

    &--diagramme::before {
      background-image: url("../../icons/menu/diagramm.svg");
    }

    &--user::before {
      background-image: url("../../icons/menu/user.svg");
    }

    &--dollars::before {
      background-image: url("../../icons/menu/dollars.svg");
    }
  }

  &__item:hover {
    opacity: 0.5;
  }

  &__button {
    @media (min-width: $desktop-mini-width) {
      display: none;
    }
  }
}

.navigation--closed .navigation__list {
  display: none;

  @media (min-width: $desktop-mini-width) {
    display: flex;
    position: absolute;
    top: 38px;
    left: 0;
    transition: all 0.3s ease;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    top: 38px;
    left: -65px;
  }
}

.navigation--opened .navigation__list {
  display: flex;
  position: absolute;
  top: 38px;
  left: -15px;
}
