.navigation {
  position: relative;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba($burger-menu-stroke, 0.9);

    @media (min-width: $desktop-mini-width) {
      display: block;
      position: absolute;
      top: 38px;
    }
  }

  &__button {
    @media (min-width: $desktop-mini-width) {
      display: none;
    }
  }
}

.navigation--closed .navigation__list {
  display: none;

  @media (min-width: $desktop-mini-width) {
    display: block;
    position: absolute;
    top: 38px;
    left: 0;
  }
}

.navigation--opened .navigation__list {
  display: block;
  position: absolute;
  top: 38px;
}
