.promo {
  width: 100%;
  min-height: 193px;
  display: flex;
  align-items: center;
  background-image:
    image-set(
      url("../../images/background-page/background-promo-mobile@1x.webp") 1x type("image/webp"),
      url("../../images/background-page/background-promo-mobile@2x.webp") 2x type("image/webp"),
      url("../../images/background-page/background-promo-mobile@1x.png") 1x type("image/png"),
      url("../../images/background-page/background-promo-mobile@2x.png") 2x type("image/png")
    );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 32px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 221px;
    background-image:
      image-set(
        url("../../images/background-page/background-promo-tablet@1x.webp") 1x type("image/webp"),
        url("../../images/background-page/background-promo-tablet@2x.webp") 2x type("image/webp"),
        url("../../images/background-page/background-promo-tablet@1x.png") 1x type("image/png"),
        url("../../images/background-page/background-promo-tablet@2x.png") 2x type("image/png")
      );
  }

  @media (min-width: $desktop-width) {
    min-height: 289px;
    background-image:
      image-set(
        url("../../images/background-page/background-promo-desktop@1x.webp") 1x type("image/webp"),
        url("../../images/background-page/background-promo-desktop@2x.webp") 2x type("image/webp"),
        url("../../images/background-page/background-promo-desktop@1x.png") 1x type("image/png"),
        url("../../images/background-page/background-promo-desktop@2x.png") 2x type("image/png")
      );
  }

  &__box {
    margin: 0 12px 0 28px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 2;

    @media (min-width: $desktop-width) {
      gap: 20px;
    }
  }

  &__title {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 65px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFDF8E 0%, #FFC700 100%);
    -webkit-background-clip: text; //Обрезаем фон по форме текста
    -webkit-text-fill-color: transparent; //Делаем буквы "прозрачными", чтобы сквозь них был виден фон
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: start;

    @media (min-width: $tablet-width) {
      font-size: 35px;
      line-height: 52px;
    }

    @media (min-width: $desktop-width) {
      font-size: 54px;
      line-height: 50px;
      order: -2;
    }
  }

  &__subtitle {
    order: -1;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(180deg, #999999FF 0%, #FFFFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 44px;
    }

    @media (min-width: $desktop-width) {
      font-size: 32px;
      line-height: 47px;
    }
  }

  &__decoration {
    position: absolute;
    top: -41px;
    right: 20px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;

    @media (min-width: $tablet-width) {
      top: -50%;
      right: 150px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &__image-coins {
    width: 121px;
    height: 140px;

    @media (min-width: $tablet-width) {
      width: 195px;
      height: 225px;
    }
  }

  &__image-arrow {
    width: 88px;
    height: 61px;
    margin-top: 30px;
    margin-left: -38px;

    @media (min-width: $tablet-width) {
      width: 120px;
      height: 100px;
      margin-left: -41px;
    }
  }
}

.promo--strawberry {
  margin-bottom: 75px;

  &::after {
    content: "";
    position: absolute;
    width: 112px;
    height: 122px;
    top: 59%;
    right: 6%;
    background-image:
      image-set(
        url("../../images/promo-strawberry/promo-strawberry-mobile@1x.webp") 1x type("image/webp"),
        url("../../images/promo-strawberry/promo-strawberry-mobile@2x.webp") 2x type("image/webp"),
        url("../../images/promo-strawberry/promo-strawberry-mobile@1x.png") 1x type("image/png"),
        url("../../images/promo-strawberry/promo-strawberry-mobile@2x.png") 2x type("image/png")
      );
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s ease;

    @media (min-width: $tablet-width) {
      width: 150px;
      height: 160px;
      right: 6%;
      background-image:
        image-set(
          url("../../images/promo-strawberry/promo-strawberry-tablet@1x.webp") 1x type("image/webp"),
          url("../../images/promo-strawberry/promo-strawberry-tablet@2x.webp") 2x type("image/webp"),
          url("../../images/promo-strawberry/promo-strawberry-tablet@1x.png") 1x type("image/png"),
          url("../../images/promo-strawberry/promo-strawberry-tablet@2x.png") 2x type("image/png")
        );
    }

    @media (min-width: $desktop-mini-width) {
      width: 220px;
      height: 330px;
      top: -20px;
      right: 4%;
      background-image:
        image-set(
          url("../../images/promo-strawberry/promo-strawberry-desktop@1x.webp") 1x type("image/webp"),
          url("../../images/promo-strawberry/promo-strawberry-desktop@2x.webp") 2x type("image/webp"),
          url("../../images/promo-strawberry/promo-strawberry-desktop@1x.png") 1x type("image/png"),
          url("../../images/promo-strawberry/promo-strawberry-desktop@2x.png") 2x type("image/png")
        );
    }

    @media (min-width: $desktop-width) {
      width: 376px;
      height: 407px;
      top: -78px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -15%;
    right: 4%;
    width: 70px;
    height: 76px;
    background-image:
      image-set(
        url("../../images/promo-strawberry/promo-strawberry-mobile@1x.webp") 1x type("image/webp"),
        url("../../images/promo-strawberry/promo-strawberry-mobile@2x.webp") 2x type("image/webp"),
        url("../../images/promo-strawberry/promo-strawberry-mobile@1x.png") 1x type("image/png"),
        url("../../images/promo-strawberry/promo-strawberry-mobile@2x.png") 2x type("image/png")
      );
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-10deg) scaleX(-1);
    transition: all 0.3s ease;

    @media (min-width: $tablet-width) {
      width: 94px;
      height: 102px;
      right: 6%;
    }

    @media (min-width: $desktop-mini-width) {
      width: 142px;
      height: 150px;
      right: 25%;
    }

    @media (min-width: $desktop-width) {
      width: 232px;
      height: 251px;
      top: -59px;
      right: 30%;
    }
  }
}

.promo--totem {
  margin-bottom: 33px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -25%;
    right: 10%;
    width: 108px;
    height: 114px;
    background-image:
      image-set(
        url("../../images/promo-totem/totem-green-mobile@1x.webp") 1x type("image/webp"),
        url("../../images/promo-totem/totem-green-mobile@2x.webp") 2x type("image/webp"),
        url("../../images/promo-totem/totem-green-mobile@1x.png") 1x type("image/png"),
        url("../../images/promo-totem/totem-green-mobile@2x.png") 2x type("image/png")
      );
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s ease;

    @media (min-width: $tablet-width) {
      width: 190px;
      height: 205px;
      top: 43%;
      right: 6%;
      background-image:
        image-set(
          url("../../images/promo-totem/totem-green-tablet@1x.webp") 1x type("image/webp"),
          url("../../images/promo-totem/totem-green-tablet@2x.webp") 2x type("image/webp"),
          url("../../images/promo-totem/totem-green-tablet@1x.png") 1x type("image/png"),
          url("../../images/promo-totem/totem-green-tablet@2x.png") 2x type("image/png")
        );
    }

    @media (min-width: $desktop-mini-width) {
      right: 5%;
    }

    @media (min-width: $desktop-width) {
      width: 957px;
      height: 334px;
      top: -15%;
      right: 0;
      background-image:
        image-set(
          url("../../images/promo-totem/totem-all-desktop@1x.webp") 1x type("image/webp"),
          url("../../images/promo-totem/totem-all-desktop@2x.webp") 2x type("image/webp"),
          url("../../images/promo-totem/totem-all-desktop@1x.png") 1x type("image/png"),
          url("../../images/promo-totem/totem-all-desktop@2x.png") 2x type("image/png")
        );
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -32%;
    right: 3%;
    width: 94px;
    height: 99px;
    background-image:
      image-set(
        url("../../images/promo-totem/totem-violet-mobile@1x.webp") 1x type("image/webp"),
        url("../../images/promo-totem/totem-violet-mobile@2x.webp") 2x type("image/webp"),
        url("../../images/promo-totem/totem-violet-mobile@1x.png") 1x type("image/png"),
        url("../../images/promo-totem/totem-violet-mobile@2x.png") 2x type("image/png")
      );
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s ease;

    @media (min-width: $tablet-width) {
      width: 149px;
      height: 157px;
      right: -1%;
      background-image:
        image-set(
          url("../../images/promo-totem/totem-violet-tablet@1x.webp") 1x type("image/webp"),
          url("../../images/promo-totem/totem-violet-tablet@2x.webp") 2x type("image/webp"),
          url("../../images/promo-totem/totem-violet-tablet@1x.png") 1x type("image/png"),
          url("../../images/promo-totem/totem-violet-tablet@2x.png") 2x type("image/png")
        );
    }

    @media (min-width: $desktop-width) {
      background-image: none;
    }
  }

  .promo__title {
    margin: 0 7px 0 0;
  }

  .promo__subtitle {
    margin: 0 12px 0 0;
  }
}

.promo--money {
  margin: 20px 0 33px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 120px 0 33px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 171px;
    height: 140px;
    bottom: -25%;
    right: -12px;
    background-image:
      image-set(
        url("../../images/promo-money/money-mobile@1x.webp") 1x type("image/webp"),
        url("../../images/promo-money/money-mobile@2x.webp") 2x type("image/webp"),
        url("../../images/promo-money/money-mobile@1x.png") 1x type("image/png"),
        url("../../images/promo-money/money-mobile@2x.png") 2x type("image/png")
      );
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s ease;

    @media (min-width: $tablet-width) {
      width: 251px;
      height: 205px;
      top: 31%;
      right: 27px;
    }

    @media (min-width: $desktop-width) {
      width: 1320px;
      height: 485px;
      top: -45%;
      right: 0;
      background-image:
        image-set(
          url("../../images/promo-money/money-all-desktop@1x.webp") 1x type("image/webp"),
          url("../../images/promo-money/money-all-desktop@2x.webp") 2x type("image/webp"),
          url("../../images/promo-money/money-all-desktop@1x.png") 1x type("image/png"),
          url("../../images/promo-money/money-all-desktop@2x.png") 2x type("image/png")
        );
    }
  }

  .promo__box {
    max-width: 700px;
    gap: 20px;
  }

  .promo__title {
    line-height: 35px;
    padding-right: 50px;

    @media (min-width: $desktop-width) {
      line-height: 65px;
    }
  }
}
