.reviews {
  &__head {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-bottom: 8px;
  }

  &__title {
    margin: 0 0 26px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    grid-column: 1 / 2;

    span {
      margin-top: 5px;
      display: block;
      font-family: "Oswald", sans-serif;
      font-size: 14px;
      line-height: 21px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__stars {
    grid-column: 2 / 3;
  }

  &__sort {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      margin: 0;
      font-family: "Oswald", sans-serif;
      font-size: 19px;
      line-height: 30px;
      font-weight: 400;
    }

    select {
      margin: 0;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
