.reviews {
  width: 100%;

  &__head {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-bottom: 8px;
  }

  &__title {
    margin: 0 0 26px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    grid-column: 1 / 2;

    span {
      margin-top: 5px;
      display: block;
      font-family: "Oswald", sans-serif;
      font-size: 14px;
      line-height: 21px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__stars {
    grid-column: 2 / 3;
  }

  &__sort {
    width: 100%;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      min-width: 110px;
      margin: 0;
      font-family: "Oswald", sans-serif;
      font-size: 19px;
      line-height: 30px;
      font-weight: 400;
    }
  }

  &__select-wrapper {
    position: relative;

    select {
      font-family: "Oswald", sans-serif;
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
      margin: 0;
      border: 2px solid $color-text;
      border-radius: 10px;
      padding: 2px 10px 6px 8px;
      background-color: transparent;
      color: $basic-text;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: none;
      position: relative;
    }
  }

  &__select-wrapper::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    background-image: url("../../images/arrow-select@2x.png");
    background-repeat: no-repeat;
    background-size: 17px 17px;
  }

  &__list {
    width: 100%;
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
