.slider-horizontal {
  .swiper-wrapper {
    width: 100%;
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      margin-bottom: 35px;
    }

    @media (min-width: 1920px) {
      flex-wrap: wrap;
      gap: 35px;
      justify-content: center;
    }
  }

  &__slide {
    /* justify-content: center; */
    /* width: 100%;
    flex: 0 0 100%;
    max-width: 100%;

     */

    @media (min-width: $tablet-width) {
      width: 48%;
      /* flex: 0 0 48%; */
    }

    @media (min-width: $desktop-width) {
      width: 31%;
      margin-right: 0 !important;
    }
  }

  &__picture {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid #FFC0D5;
    border-radius: 15px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__button-box {
    @media (min-width: 1920px) {
      display: none !important;
    }
  }
}
